@import "tailwindcss";
@import "@heroui/styles";

:root {
  --background: #08626f;
  --foreground: #e0f0f0;

  --accent: #73bab7;
  --accent-foreground: #e0f0f0;

  --surface: #fcfcfc;
  --surface-foreground: #5c5c5c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  @apply text-2xl font-bold tracking-tight pb-2;
}
